h1 { 
    color:orangered	 ;
    font-size: 50px; 
    font-family:'Courier New', Courier, monospace;
    text-align: center;    
}
body {
    background-color: black;
    color:white;
    text-align: center;
}
.Players {
    font-size:30px;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
    width:50%;
    margin: auto;
    text-align: center;
}
.Club{
    background-color: black;
    width:75%;
    margin: auto;
    border: 10px solid yellow ;
}